.magenta-theme {
  --mdc-theme-primary: #FF00FF;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-secondary: #ffe4e1;
  --mdc-theme-on-secondary: #000000;
  --mdc-theme-error: #ff0000;
  --mdc-theme-on-error: #ffffff;
  --mdc-theme-warning: #ffa500;
  --mdc-theme-on-warning: #ffffff;
  --mdc-theme-info: #00BCD4;
  --mdc-theme-on-info: #ffffff;
  --mdc-theme-accent: #00BCD4;
  --mdc-theme-on-accent: #ffffff;
  --mdc-theme-background: #ffffff;
  --mdc-theme-on-background: #000000;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-on-surface: #000000;
  --mdc-theme-outline: #000000;
  --mdc-theme-on-outline: #ffffff;
  --mdc-theme-focus: #00BCD4;
  --mdc-theme-on-focus: #ffffff;
  --mdc-theme-hover: #00BCD4;
  --mdc-theme-on-hover: #ffffff;
  --mdc-theme-active: #00BCD4;
  --mdc-theme-on-active: #ffffff;
}

/* Body */
body {
  font-family: Roboto, sans-serif;
  color: #FF00FF;
}

/* Header */
/* Magenta Copypasta */
.magenta-theme a {
  color: var(--mdc-theme-primary);
}

.magenta-theme h1 {
  color: var(--mdc-theme-primary);
}

.magenta-theme h2 {
  color: var(--mdc-theme-primary);
}

.magenta-theme p {
  color: var(--mdc-theme-primary);
}

.magenta-theme .button {
  background-color: var(--mdc-theme-primary);
}

.magenta-theme .button:hover {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}
